* {
    margin:0px;
    padding: 0px;
}
body {
    font-family: arial;
    box-sizing: border-box;
    margin: 0px;
}
header {
    text-align: right;
}
header h1, header p {
    padding: 15px;
    margin: 0px;
}
header h1 {
    color: white;
    font-size: 35px;
    background-color: black;
}
header p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: gray;
}

header nav ul {
    background-color:rgb(123, 123, 250);
    text-align: center;
}
header nav ul li {
    display: inline-block;
    
}
header nav ul li a:link, header nav ul li a:visited {
    color: white;
    padding: 35px 10px 10px 10px;
    font-weight: normal;
    background-image: url('../img/logos_gray_transparent_70x70.png');
    background-repeat: no-repeat;
    background-position: center -20px;
    background-size: 70px;
        font-weight: bold;
}
header nav ul li a:hover {
    background-image: url('../imagens/logos_resized_70x70.png');
    color: yellow;

}

main h2 {
    color: black;
    transition: all 0.5s;
    margin-bottom: 30px;
}

main h2:hover {
    letter-spacing: 5px;
}

a:link, a:visited {
    color:blue;
}

nav ul {
    padding:0px;
    list-style: none;
}
nav ul li {
    padding:10px;
    display:inline-block;
}
nav ul li a:link, nav ul li a:visited {
    text-decoration: none;
    color: #003300;
    font-weight: bold;
    display: inline-block;
    padding-top: 20px;
}

main nav ul li a:hover {
    color: crimson;
}

footer {
    background-color: gray;
    text-align: center;
    padding: 30px;
}
footer p {
    color: white;
}
footer a:link, footer a:visited {
    color: lightblue !important;
}

section img {
    display:block;
    width:500px;
    margin:auto;
    margin-top:40px;
    margin-bottom: 40px;
}

main ul li {
    line-height: 1.5em;
}

main p {
    line-height: 1.5em;
    text-align: justify;
}
section {
    width:1200px;
    margin:auto;
    background-color: white;
    padding: 30px;
    
}
section p {
    line-height: 1.5em;
    margin:25px 0px;
}
section ul {
    margin-left: 50px;
}
body {
    background-color: black;
}