/* estilo padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 20px;
  margin-bottom: 15px;
}

/* btn */
form {
  margin-bottom: 20px;
}

/* Estilo do btn */
#btnGerarResultado {
  background-color: green;
  color: #fff;
  font-size: 14px;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* container */
.candidatos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px 0;
}

.card {
  border: 3px solid #000;
  border-radius: 60px;
  width: 220px;
  padding: 15px;
  text-align: center;
  background-color: #fff;
}

/* img */
.card img {
  width: 120px;
  height: 150px;
  /* Essa propriedade é mt boa para imagem, redimensiona no container e mantém proporcao */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* nome e card */

.card .nome {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
}

/* partido e percent */

.card .partido,
.card .percentual {
  /* font-size: 14px; */
  margin: 3px 0;
}

.resultado {
  font-size: 16px;
  color: red;
  font-weight: bold;
  margin-top: 15px;
}
